@using viewModelFun.Models
@model string

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
    <div class="NavHeader">

        <a href="/">Message</a> 
        <a href="/numbers">Numbers</a> 
        <a href="/user">User</a> 
        <a href="/users">Users</a> 

    </div>

<div>
    <h3 class=""> Here is a Message. You anxious little creature!!</h3>
    <p>@Model</p>
</div>

    
</body>
</html>