@using viewModelFun.Models
@model int[]

    <div class="NavHeader">

        <a href="/">Message</a> 
        <a href="/numbers">Numbers</a> 
        <a href="/user">User</a> 
        <a href="/users">Users</a> 

    </div>
<h3>Here are some numebrs!</h3>
@foreach (var i in Model)
{
    <p>@i</p>
}